<section id="slide">
        <h2>
        近くにいる友達、同僚に、助けをお願い出来る掲示板サービス"Pictask"<br>
緊急な依頼（財布忘れた！過去問欲しい！等）にぜひご活用下さい
        </h2>
    </section>


    <section id="cont_2">
      <div class="title_area">
        <div class="inner_title">
            </div>
    </div>

            <div class="contents_area">
              <div class="inner_contents">
              <div class="inner_picture">
                  <span class="inner_pic"><%= image_tag 'img_04.png', width: "320" , height: "320" %> </span>
                  <span><%= image_tag 'img_06.png', width: "320" , height: "320" %> </span>
                </div>
                </div>
            </div>
    </section>

    <section id="cont_3">
      <div class="title_area">
        <div class="inner_title">
        <h2>
        売りたいもの＆買いたいもの<br>
        </h2>
        <div class="task_contents clearfix">
          <% @tasks.each do |task| %>
            <%= link_to(task_path(task.id), class: 'task_content') do%>
              <div class="task_content">
                <span>名前：<%= task.name%></span>
                <span class="time">日時：<%= task.when%></span><br />
                <span>商品名：<%= task.goods%></span>
                <span class="place">受取場所：<%= task.where%></span>
                <span class ="trade2"><%= task.trade%></span>
                <span class ="show">価格：<%= task.price%>円</span>
               </div>
            <% end%>
          <% end %>
        </div>

    <footer>
      <section id="cont_4">
        <div class="title_area">
          <div class="inner_title">
            <h3 class="mb10"><%= image_tag 'title_04.png', width: "245" , height: "19",alt: "みんははじめているよ！" %>
          </div>
        </div>
    </footer>

